{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perro Patan</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body class="fondo">
    <div class="link-home">
        <p> <a href="{% url 'IND'%}"> HOME> </a> <a href="{% url 'PERR'%}">PERROS</a> </p>
    </div>

  
    <table border="1" class="tabla-centro">
        <tr>
            <td><img src="{% static 'img/perro3.jpg' %}" alt="" width="250" height="260"></td>
            <td>Nombre: Patan <br> Edad: 15 años <br> Genero: Macho <br> Esterilizado: Si <br> Nro. chip: 54444</td>
        </tr>
    </table>

</body>

</html>